@using  OurNewProject.Controllers@*
    @model IEnumerable<OurNewProject.Models.Category>*@
@model IEnumerable<ProductJoin>

@{
    ViewData["Title"] = "Menu";
}


<head>
    <link rel="stylesheet" href="~/css/myMenu.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bona+Nova:ital@0;1&family=Tinos:ital,wght@0,400;1,400;1,700&display=swap" rel="stylesheet">

</head>

<div class="row">
    <div class="col-lg-12">
        <div class="page_title text-center mb-4">
            <h1>our menu</h1>
            <div class="single_line"></div>
        </div>
    </div>
</div>


<div class="text-center">
    <form class="formStyle" asp-controller="Products" asp-action="Search">
        <label class="text-dark text-center"> שם המוצר :</label><br />
        <input type="text" id="productName" name="productName" required min="1"><br />
        <label class="text-dark text-center" for="price">מחיר מקסימלי : </label><br />
        <select class="choiceStyle" name="price" id="price" required>
            <option value="15">15</option>
            <option value="25">25</option>
            <option value="40">40</option>
            <option value="50">50</option>
        </select>
        <br />
        @* <label for="categorie" style="color:white;">קטגוריה  :</label><br />
            <select class="choiceStyle" name="category" id="category" required>
                @foreach (var item in Model as ICollection<ProductJoin>)
                {
                    <option value="@item.p.Category.Name">@item.p.Category.Name</option>

                }
            </select>*@
        <br /><br />
        <button type="submit" value="Search" class="btn btn-dark">Search</button>
    </form>
</div>






<div class="menu-btns">
    <form asp-action="Buttom"> <button style="font-family: 'Bona Nova'" value="" class="button" id="allCat">  <b> הכל</b></button></form>
    <form asp-action="Buttom"> <button style="font-family: 'Bona Nova'" value="גלידות" type="submit" class="button" name="ctN"> <b> גלידות</b> </button></form>
    <form asp-action="Buttom"> <button style="font-family: 'Bona Nova'" value="יוגורטים" type="submit" class="button" name="ctN"> <b> יוגורטים</b>  </button></form>
</div>



<div class="row">


    @foreach (var item in Model as ICollection<ProductJoin>)
    {
        <div class="card">
            <img src=" @Html.DisplayFor(modelItem => item.pi.Imge) " alt="Denim Jeans" style="width:100%">
            <h1 style="color: #d6d6a2">  @Html.DisplayFor(modelItem => @item.p.Name)  </h1>
            <p style="color: #d6d6a2;" class="price">   @Html.DisplayFor(modelItem => item.p.Price)  ₪  </p>
            <p style="color: #d6d6a2;">@Html.DisplayFor(modelItem => item.p.Description)</p>


            <form method="post">
                <button onclick="myFunction()" style="color: #d6d6a2" type="submit" class="btn btn-danger btn-sm card-background">
                    הוסף לסל שלי
                </button>
            </form>
        </div>
    }
</div>

<script>
    function myFunction() {
        alert(" הזמנתך התווספה לסל הקניות :) ");
    }
</script>

