@using  OurNewProject.Controllers
@model IEnumerable<ProductJoin>
@{
    ViewData["Title"] = "Menu";
}


<head>
    <link rel="stylesheet" href="~/css/menu.css">
</head>

<div class="row">
    <div class="col-lg-12">
        <div class="page_title text-center mb-4">
            <h1>our menu</h1>
            <div class="single_line"></div>
        </div>
    </div>
</div>




<div class="menu-btns">
    <form asp-action="Buttom"> <button value="" class="button" id="allCat">הכל</button></form>
    <form asp-action="Buttom"> <button value="גלידות" type="submit" class="button" name="ctN">גלידות</button></form>
    <form asp-action="Buttom"> <button value="יוגורטים" type="submit" class="button" name="ctN">יוגורטים</button></form>

</div>

<div class="row">

  
    @foreach (var item in Model as ICollection<ProductJoin>)
    {
        <div class="card">

            <img src=" @Html.DisplayFor(modelItem => item.pi.Imge) " alt="Denim Jeans" style="width:100%">
            <h1 style="        color: #dc3545">  @Html.DisplayFor(modelItem => @item.p.Name)  </h1>
            <p class="price">   @Html.DisplayFor(modelItem => item.p.Price)  ₪  </p>
            <p>@Html.DisplayFor(modelItem => item.p.Description)</p>


            <form asp-controller="Orders" asp-action="AddToOrder" asp-route-id="@item.p.Id" method="post">
                <button type="submit" class="btn btn-danger btn-sm card-background">
                    Add To Cart
                </button>
            </form>
        </div>
    }
</div>
